p {
    margin: 0;
}

.page-container {
    background-image: url(../../images/page-background2.jpg);
    padding-bottom: 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 30%;
}

.filter-container {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 17%;
    margin-bottom: 1%;
}

.filter-button {
    background-color: #000000c4;
    color: white;
    margin-right: 1%;
    width: 5%;
    height: 23px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0);
    transition: 100ms ease-in-out;
    outline: none;
}

.filter-button:hover {
    background-color: #0000007d;
    cursor: pointer;
}

.filter-button.selected {
    background-color: #238cdd7a;
}

.select-container {
    margin-top: 1%;
}

.top-sort {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    background-color: #000000c4;
    color: white;
    border-color: rgba(0, 0, 0, 0);
    width: 10%;
    height: 23px;
    padding-left: 8px;
    outline: none;
    background-image: url(../../images/down-arrow.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right center;
}

.post-container {
    display: block;
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1%;
    padding-right: 1%;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    color: white;
    background: #000000c4;
}

.animation-styles {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}

.thumbnail {
    float: left;
    margin: 1%;
    margin-right: 2%;
    width: 80px;
    font-size: 0%;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
}

.thumbnail-img {
    height: 80px;
    width: 80px;
}

.post-info {
    overflow: hidden;
    margin-bottom: 0.8%;
    padding-top: 0.3%;
    display: inline-block;
    width: 75%;
}

.post-title {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    display: inline-block;
}

.post-title:visited {
    color: #969696;
}

.author {
    font-size: 0.7em;
    margin-right: 1.5%;
    display: inline-block;
}

.author-link {
    text-decoration: underline;
    color: white;
}

.domain {
    display: inline-block;
    font-size: 0.7em;
    margin-bottom: 0.5%;
    width: 60%;
}

.created {
    font-size: 0.7em;
    display: inline-block;
    width: 100%;
}

.pinned {
    color: #02a702;
    display: inline-block;
    font-size: 0.7em;
}

.points-container {
    float: right;
    height: 75px;
    width: 75px;
    text-align: center;
    margin-top: 1%;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
}

.points-label {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
    color: #bbbbbb;
}

.points {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
}

.nav-container {
    position: relative;
    text-align: center;
    margin-top: 4%;
}

.nav-icon-container {
    display: inline-block;
}

.nav-icon {
    height: auto;
    width: 150%;
    transition: transform 100ms ease-in-out;
}

.nav-icon.left {
    transform: rotate(180deg);
}

.nav-icon.right:hover {
    cursor: pointer;
    transform: translateX(3px);
}

.nav-icon.left:hover {
    cursor: pointer;
    transform:  rotate(180deg) translateX(3px);
}

.page-number-container {
    display: inline-block;
    margin-right: 3%;
    margin-left: 4%;
}

.page-number {
    position: absolute;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 2.5em;
    bottom: -20%;
    left: 49.8%;
}

/* .footer {
    widows: 100%;
    height: 100px;
    background-color: black;
} */