/* DESKTOP */
@media only screen and (max-width: 884px) {
    .right-options-container {
        width: 45%;
    }

    .subreddit-input {
        width: 48%;
    }

    .floating-r {
        top: 15%;
    }
}

@media only screen and (max-width: 740px) {

    .page-background {
        padding-top: 2%;
    }

    .page-container {
        height: 100%;
    }

    .sub-title {
        font-size: 1.5em;
    }

    .filter-container {
        margin-left: 0%;
        width: 90%;
    }

    .filter-button {
        font-size: 75%;
        margin-right: 0%;
        width: 17%;
        height: 28px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }

    .filter-button:hover {
        background-color: white;
    }

    .filter-button.selected:hover {
        background-color: #5adaff;
    }

    .top-sort {
        height: 28px;
        font-size: 75%;
        margin-left: 2%;
        width: 30%;
        padding-right: 7%;
    }

    .right-options-container {
        width: 0%;
        margin-right: 3%;
    }

    .settings-container {
        float: right;
        margin-right: 2%;
    }

    .settings-menu {
        width: 1200%;
        left: -1350%;
        top: -40%;
    }

    .subreddit-form-container-desktop {
        display: none;
    }

    .subreddit-form-container-mobile {
        display: inline-block;
        width: 100%;
        margin-right: 0%;
    }

    .floating-r b {
        font-weight: normal;
    }

    .floating-r {
        top: 11%;
        left: 8%;
    }

    .subreddit-input {
        border-radius: 3px;
        box-shadow: none;
        border-bottom: 1px solid black;
        width: 47%;
        width: 37%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .clear-text-icon {
        display: block;
        position: absolute;
        width: 13px;
        height: 13px;
        right: 45%;
        top: 11%;
    }

    .browse-button {
        margin-left: 0%;
        float: right;
        box-shadow: none;
        border-radius: 0px;
        background-color: #5adaff;
        color: white;
        height: 26px;
        font-size: 75%;
    }

    .menu-item-container {
        margin-top: 5%;
        padding-left: 2%;
    }

    .toggle-switch-container {
        margin-right: 2%;
    }

    .post-container {
        border: none;
        padding: 0%;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0%;
        min-width: 0px;
    }

    .no-posts-container {
        width: 100%;
        box-shadow: none;
        padding: 0%;
        margin: 0%;
    }

    .sad-face-img {
        width: 20%;
    }

    .no-posts-message {
        font-size: 75%;
    }

    .sub-suggestion {
        font-size: 50%;
    }

    .thumbnail {
        margin-top: 0%;
        margin-left: 2%;
        width: 50px;
    }

    .thumbnail-img {
        width: 50px;
        height: 50px;
    }

    .post-title {
        font-size: 1em;
        line-height: 0.9em;
        word-wrap: break-word;
    }

    .domain {
        font-size: 0.5em;
    }

    .info-container {
        font-size: 0.9em;
        margin-top: 3%;
    }

    .post-info {
        width: 66%;
        overflow: auto;
    }

    .posted {
        display: none;
    }

    .author {
        display: none;
    }

    .subreddit b {
        display: none;
    }

    .subreddit-link {
        margin-right: 2%;
    }

    .points-container {
        margin-right: 2%;
        margin-top: 0%;
        margin-left: 1%;
        width: 50px;
        height: 42px;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .points-label {
        font-size: 1em;
    }

    .points {
        font-size: 1em;
    }

    .expand-post-button {
        font-size: 1.5em;
        height: 32px;
    }

    .post-body-container {
        font-size: 75%;
    }

    .embedded-link {
        max-width: 100%;
        max-height: 370px;
    }
    
    .embedded-image {
        max-width: 100%;
        max-height: 370px;
    }

    .embedded-video iframe {
        max-width: 100%;
        max-height: 370px;
    }

    .page-number-container {
        margin-right: 30%;
        margin-left: 0%;
    }

    .page-number {
        font-size: 1.4em;
        bottom: -9%;
        left: 48.8%;
    }
}

@media only screen and (max-width: 370px) {
    .post-info {
        width: 60%
    }
}

@media only screen and (max-width: 320px) {
    .browse-button {
        width: 34%;
    }

    .subreddit-input {
        width: 37%;
        padding-left: 10%;
    }

    .post-info {
        width: 60%;
    }

    .post-body-container {
        font-size: 75%;
    }
}

/* THEMES */
/* Dark */
@media only screen and (max-width: 740px) {
    .filter-button-dark {
        background-color: #1f1f1f;
    }

    .subreddit-input-dark {
        border-bottom: 1px solid white;
    }

    .floating-r-dark {
        color: rgb(128, 128, 128);
    }

    .no-posts-container-dark {
        background-color: #1f1f1f;
    }
    
    .post-container-dark {
        background-color: #1f1f1f;
    }

    .content-container .post-container-dark:nth-child(even) {
        background-color: #333333;
    }

    .comments-expanded-container-dark {
        background-color: #1f1f1f;
    }

    .parent-comment-dark {
        background-color: #1f1f1f;
    }

    .odd-comment-dark {
        background-color: #1f1f1f;
    }

    .even-comment-dark {
        background-color: #1f1f1f;
    }
}

/* Light */
@media only screen and (max-width: 740px) {
    .content-container .post-container-light:nth-child(even) {
        background-color: #f5f5f5;
    }

    .comments-expanded-container-light {
        background-color: white;
    }

    .parent-comment-light {
        background-color: white;
    }

    .odd-comment-light {
        background-color: white;
    }

    .even-comment-light {
        background-color: white;
    }
}

/* Comments */
@media only screen and (max-width: 740px) {
    .comments-filter-container {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    
    .post-comments-container {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .comments-expanded-container {
        min-width: 0px;
        width: 100%;
        padding: 0%;
        box-shadow: none;
    }

    .parent-comment {
        width: 100%;
        padding: 0%;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 0%;
        padding-left: 1%;
        /* border-left: 2px solid black; */
    }

    .odd-comment {
        min-width: 0px;
        border-radius: 0px;
        margin-bottom: 0%;
        padding-bottom: 0%;
        border-left: 1px solid gray;
    }

    .even-comment {
        min-width: 0px;
        border-radius: 0px;
        margin-bottom: 0%;
        padding-bottom: 0%;
        border-left: 1px solid gray;
    }

    .md {
        padding-bottom: 1%;
        padding-right: 2%;
    }

    .child-comments-container {
        margin: 0%;
    }
}