/* DESKTOP */
@media only screen and (max-width: 884px) {
    .filter-container {
        margin-left: 10%;
    }

    .subreddit-form-container {
        margin-right: 10%;
    }

    .subreddit-input {
        width: 48%;
    }

    .floating-r {
        top: 15%;
    }
}

/* MOBILE */
/* Changed from 450px */
@media only screen and (max-width: 740px) {
    .page-container {
        padding-top: 3%;
    }

    .sub-title {
        font-size: 1.5em;
    }

    .filter-container {
        margin-left: 0%;
        width: 50%;
    }

    .filter-button {
        background-color: white;
        font-size: 75%;
        margin-right: 0%;
        width: 25%;
        height: 28px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }

    .filter-button:hover {
        background-color: white;
    }

    .filter-button.selected:hover {
        background-color: #5adaff;
    }

    .top-sort {
        background-color: white;
        border-radius: 0px;
        box-shadow: none;
        height: 28px;
        font-size: 75%;
        margin-left: 2%;
        width: 61%;
    }

    .subreddit-form-container {
        width: 50%;
        margin-right: 0%;
    }

    .floating-r b {
        font-weight: normal;
    }

    .subreddit-input {
        box-shadow: none;
        border-bottom: 1px solid black;
        width: 47%;
        padding-left: 10%;
    }

    .browse-button {
        box-shadow: none;
        border-radius: 0px;
        background-color: #5adaff;
        color: white;
        height: 26px;
        font-size: 75%;
    }

    .content-container .post-container:nth-child(even) {
        background-color: #f5f5f5;
    }

    .no-posts-container {
        width: 100%;
        box-shadow: none;
        padding: 0%;
        margin: 0%;
    }

    .sad-face-img {
        width: 20%;
    }

    .no-posts-message {
        font-size: 75%;
    }

    .sub-suggestion {
        font-size: 50%;
    }

    .post-container {
        border: none;
        padding: 0%;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0%;
        background-color: white;
        min-width: 0px;
    }

    .thumbnail {
        margin-top: 0%;
        margin-left: 2%;
        width: 50px;
    }

    .thumbnail-img {
        width: 50px;
        height: 50px;
    }

    .title-container {
        line-height: 0.9em;
    }

    .post-title {
        font-size: 0.8em;
    }

    .domain {
        font-size: 0.5em;
    }

    .info-container {
        font-size: 0.5em;
        margin-top: 3%;
    }

    .post-info {
        width: 66%;
        overflow: auto;
    }

    .posted {
        display: none;
    }

    .author {
        display: none;
    }

    .subreddit b {
        display: none;
    }

    .points-container {
        margin-right: 2%;
        margin-top: 0%;
        margin-left: 1%;
        width: 50px;
        height: 42px;
        padding-top: 3%;
    }

    .points-label {
        font-size: 0.8em;
    }

    .points {
        font-size: 0.8em;
    }

    .expand-post-button {
        font-size: 1.5em;
        height: 32px;
    }

    .post-body-container {
        font-size: 75%;
    }

    .embedded-link {
        max-width: 100%;
        max-height: 370px;
    }
    
    .embedded-image {
        max-width: 100%;
        max-height: 370px;
    }

    .embedded-video iframe {
        max-width: 100%;
        max-height: 370px;
    }

    .page-number-container {
        margin-right: 30%;
        margin-left: 0%;
    }

    .page-number {
        font-size: 1.4em;
        bottom: -9%;
        left: 48.8%;
    }
}

@media only screen and (max-width: 370px) {
    .post-info {
        width: 60%
    }
}

@media only screen and (max-width: 320px) {
    .browse-button {
        width: 34%;
    }

    .subreddit-input {
        width: 40%;
        padding-left: 10%;
    }

    .post-info {
        width: 60%;
    }

    .post-body-container {
        font-size: 75%;
    }
}