body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
}

h3 {
    margin: 0;
}

.page-container {
    background-image: url(../images/page-background2.jpg);
    padding-bottom: 2%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 30%;
}

.post-container {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1%;
    padding-right: 1%;
    overflow: auto;
    background-color: white;
    border-radius: 4px;
    color: white;
    background: #000000c4;
}

.thumbnail {
    float: left;
    margin: 1%;
    margin-right: 2%;
    width: 80px;
    font-size: 0%;
    overflow: hidden;
    background-color: white;
}

.thumbnail-img {
    height: 80px;
    width: 80px;
}

.post-info {
    overflow: hidden;
    margin-bottom: 0.8%;
    padding-top: 1.2%;
}

.post-title {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    display: inline-block;
}

.author {
    font-size: 0.7em;
    margin-right: 1.5%;
    display: inline-block;
}

.author-link {
    text-decoration: underline;
    color: white;
}

.points {
    display: inline-block;
    font-size: 0.7em;
    margin-bottom: 0.5%;
}

.created {
    font-size: 0.7em;
}

.nav-container {
    position: relative;
    text-align: center;
    margin-top: 4%;
}

.nav-icon-container {
    display: inline-block;
}

.nav-icon {
    height: auto;
    width: 150%;
}

.nav-icon.left {
    transform: rotate(180deg);
}

.nav-icon:hover {
    cursor: pointer;
}

.page-number-container {
    display: inline-block;
    margin-right: 3%;
    margin-left: 4%;
}

.page-number {
    position: absolute;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 2.5em;
    bottom: -20%;
    left: 49.8%;
}

/* .footer {
    widows: 100%;
    height: 100px;
    background-color: black;
} */